/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.todos-view-header {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todos-view-header select {
  margin: 0 0.5rem;
}

.todo-lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: flex-start;
  gap: 10px;
}

.todo-lists h3 {
  margin-bottom: 0.8rem;
  padding-bottom: 0.1rem;
  border-bottom: 1px solid #334155
}

.todo-lists section {
  flex-basis: 32%;
  /* border: 1px solid #ccc; */
}

.todo {
  margin: 0.25rem 0.5rem;
}

.todo-priority {
  margin-right: 0.25rem;
  border-radius: 9999px;
  padding: 1px 6px;
}

.todo-priority-a .todo-priority {
  color: #B91C1C;
  background-color: #FCA5A5;
}

.todo-priority-b .todo-priority {
  color: #D97706;
  background-color: #FDBA74;
}

.todo-priority-c .todo-priority {
  color: #0284C7;
  background-color: #93C5FD;
}

.todo-completedDate {
  margin-right: 0.25rem;
  border-radius: 9999px;
  padding: 1px 6px;
  background-color: red;
}

.todo-createdDate {
  margin-right: 0.25rem;
  border-radius: 9999px;
  padding: 1px 6px;
  background-color: blue;
}

.todo input {
  margin-top: 3px;
}

.todo label {
  display: flex;
  align-items: flex-start;
}

.todo-description {
  color: #E5E7EB;
}

.todo-completed .todo-description {
  text-decoration: line-through;
  color: #9CA3AF;
}

.todo-tag, .todos .todo-ctx {
  font-size: 0.8rem;
  margin-left: 0.5rem;
  border-radius: 9999px;
  padding: 1px 8px;
}

.todo-tag {
  color: #374151;
  background-color: #BFDBFE;
}

.todo-ctx {
  color: #374151;
  background-color: #C7D2FE;
}

.todo-dialog-bg {
  /* position: relative; */
  /* z-index: 10; */
}

.todo-dialog-holder {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: #111827CC;

  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-dialog {
  width: 40rem;
  min-height: 3rem;
  border: 3px solid #312E81;
  border-radius: 10px;
  background-color: #111827;
  z-index: 20;
}

.todo-dialog h3 {
  margin: 0.5rem 0.5rem 0.1rem 0.5rem;
}

.todo-dialog input {
  margin: 0.5rem 1rem 1.2rem 1rem;
  width: 95%;
}
